
@model BlogSitesi.Models.YazarlikBasvurusu
@{
    ViewBag.Title = "Yazarlık Başvurusu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("YazarOl", "Kullanici",FormMethod.Post))
{
    @Html.AntiForgeryToken()

  
        <div class="content mt-3" style="margin-top: 40px; margin-left: 10%;">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-xs-6 col-sm-6">
                        <div class="card">
                            <div class="card-header" >
                                <strong style="font-size: 25px; ">Yazarlık Başvurusu</strong>
                            </div>

                            <div class="card-body card-block" style="margin-top: 40px;">
                                <div class=" form-group">
                                <label class=" form-control-label">Kullanıcı Adı</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-mail-forward"></i></div>
                                    <input type="text" name="Nick" class="form-control" required="required" maxlength="30" />
                                </div>
                                @Html.ValidationMessageFor(m => m.Nick, "", new { @style = "color:red" })
                            </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Ad</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-id"></i></div>
                                        <input type="text" name="Ad" class="form-control" required="required" maxlength="30" />
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Ad, "", new { @style = "color:red" })
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Soyad</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-id"></i></div>
                                        <input type="text" name="Soyad" class="form-control" required="required" maxlength="30" />
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Soyad, "", new { @style = "color:red" })
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label">Mail</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                                        <input type="text" name="mail" class="form-control" required="required" maxlength="30" />
                                    </div>
                                    @Html.ValidationMessageFor(m => m.mail, "", new { @style = "color:red" })
                                </div>
                                <div class="form-group">
                                    <label class=" form-control-label"><i class="fa fa-info-circle"></i> Hakkımızda</label>
                                    <div class="input-group">

                                        <textarea style="overflow: scroll; width:auto;" type="text" name="Hakkinda" class="form-control" rows="10" cols="80"></textarea>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.Hakkinda, "", new { @style = "color:red" })
                                </div>
                                <div class="form-group">

                                    <input name="id" type="submit" class="btn btn-success" style="float: left" value="Güncelle" />

                                </div>
                            </div>
                        </div>
                    </div>
                    

                </div><!--row end-->
            </div><!-- .animated -->
        </div>
    <tr>
        <td></td>
        <td class="form-control" >
            <div>@ViewBag.kayitYok</div>
        </td>
    </tr>


}
