@using BlogSitesi.Models
@model List<BlogSitesi.Models.Yorum>
@{
    ViewBag.Title = "tumYorumlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="modal fade small-modal" id="small-modal" tabindex="-1" role="dialog" aria-labelledby="small-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" data-border-top="multi">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="small-modal-label">Yorum Silme Ekranı</h4>
            </div>
            <div class="modal-body">
                <p class="uyari1"></p>
                <p class="pHata"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>

                <button class="btn btn-danger btnMakaleSilOnay">Sil</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="modal fade small-modal rollerCagirModal" id="small-modal" tabindex="-1" role="dialog" aria-labelledby="small-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" data-border-top="multi">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="small-modal-label">Kullanıcı Yorumu</h4>
            </div>
            <div class="modal-body">
                <p class="uyari"></p>
                <p class="pHata"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>


            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>


<h1>Tüm Makaleler Yorumları </h1>
<div class="row">
    <div class="col-md-12" style="margin-top: 20px">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Filtrele
                    <div class="pull-right">
                        <span class="clickable filter" data-toggle="tooltip" title="Arama Yap" data-container="body">
                            <i class="glyphicon glyphicon-filter"></i>
                        </span>
                    </div>
                </h3>

            </div>
            <div class="panel-body ">
                <input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Arama..." />
            </div>
            <table class="table table-hover" id="task-table">
                <thead scope="col">
                    <tr>

                        <th scope="col">Kullanıcı Adı</th>
                        <th scope="col">Makale Baslik</th>
                        <th scope="col">icerik</th>
                       
                        <th scope="col">YayinTarihi</th>
                        <th scope="col">Kullanıcı Engelle</th>
                        <th scope="col">Sil</th>
                     

                    </tr>
                </thead>
                <tbody scope="col">
                    @foreach (Yorum m in Model)
                    {

                        <tr scope="col">
                            <td scope="col">@m.Kullanici.Nick</td>
                            <td scope="col">@m.Makale.Baslik</td>
                            <td scope="col">@m.icerik</td>
                            <td scope="col">@m.EklemeTarihi</td>
                            
                            
                            <td scope="col">
                                <a href="/Admin/yorumlarKullaniciEngelle/@m.YorumYapanID" class="btn btn-info makaleAdi  ">
                                   @if (m.Kullanici.Aktif)
                                   {
                                       <span class="fa fa-unlock" title="Engelle"></span>
                                   }
                                   else
                                   {
                                       <span class="fa fa-lock" title="Engeli Kaldır"></span>
                                   }
                                </a>
                            </td>
                            <td scope="col">
                                <button class="btn btn-danger btnMakaleSil btn-sm" data-toggle="modal" data-target="#small-modal" data-makaleadi="@m.icerik" data-makale="@m.id">
                                    <span class="glyphicon glyphicon-trash" title="Sil"></span>
                                </button>
                            </td>
                          
                           
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>





@section js{
    <script>


        var makale;
        $(".btnMakaleSil").click(function () {
            var id = $(this).data("makale");
            makale = $(".btnMakaleSilOnay").name = id;

            var baslik = $(this).data("makaleadi");

            $(".uyari1").html(baslik + " </br></br> İçeriğine Sahip Bu Yorumu Silmek İstediğinizden Emin misiniz ?");
        });
        $(".btnMakaleSilOnay").click(function () {

            $.ajax({
                url: "/Admin/yorumSil/",
                data: { id: makale },
                type: "POST",
                success: function (result) {
                    debugger
                    if (result.id == 1) {

                        $(".mesaj").html(result.message);
                        document.location = "/Admin/tumYorumlar";
                    } else
                        $(".hata").html(result.message);

                }

            });
        });
    </script>
}