@model BlogSitesi.Models.SirketBilgileri
<header class="navbar navbar-default hidden-menu hidden-menu-up">
    <div class="container">
        <div class="row">
            <div class="navbar-header col-sm-3">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="menu-title">Menu</span>
                    <i class="fa fa-bars"></i>
                </button>
                <ul class="social-icons nav navbar-nav">
                    <li><a href="@Model.facebookUrl"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="@Model.twitterUrl"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="@Model.googleUrl"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="@Model.pinperestUrl"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="/Home/Index/" id="navbarDrop2">Anasayfa</a>

                        </li>


    
                          @if (User.IsInRole("Moderator") || User.IsInRole("Admin") || User.IsInRole("Yazar"))
                            {

                            }
                            else
                            {
                                <li>
                                    <a href="/Kullanici/YazarOl/">Yazar Ol</a>
                                </li>
                            }
                      

                        @if (Session["Kullanici"] != null)
                        {
                            if (User.IsInRole("Yazar") || User.IsInRole("Moderator") || User.IsInRole("Admin"))
                            {
                                <li class="dropdown">
                                    <a href="blog.html" id="navbarDrop3" class="dropdown-toggle" data-toggle="dropdown">Yazar Yönetim</a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDrop3">

                                        <li><a href="/Yazar/YazarinMakaleleri/" @User.Identity.Name>Makalelerim</a></li>
                                        <li><a href="/Makale/MakaleYaz/">Makale Ekle</a></li>
                                      

                                    </ul>
                                </li>
                            }
                        }
                          @if (Session["Kullanici"] != null)
                          {
                              if (User.IsInRole("Admin"))
                              {
                                  <li class="dropdown">
                                      <a href="#" id="navbarDrop1" class="dropdown-toggle" data-toggle="dropdown">Admin Panel</a>
                                      <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDrop1">
                                          <li><a href="/Kullanici/Index">Kullanıcı Listesi</a></li>
                                          <li><a href="/Admin/YazarListesi/">Yazar Listesi</a></li>
                                          <li><a href="/Admin/TumMakale/">Tüm Makaleler</a></li>
                                          <li><a href="/Admin/yazarIstek">Yazarlık İstekleri</a></li>
                                          <li><a href="/Home/sirketBilgileri">Site Bilgileri</a></li>
                                          <li><a href="/Admin/tumYorumlar">Tüm Yorumlar</a></li>




                                      </ul>
                                  </li>

                              }
                          }
                        
                        @if (Request.IsAuthenticated == true && Session["Kullanici"] != null)
                        {
                             
                            <li class="dropdown">
                                <a href="blog.html" id="navbarDrop3" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name</a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="navbarDrop3">
                                    <li style="display: block"><a href="/Kullanici/userProfile">Profil</a></li>
                                    <li style="display: block"><a href="/Kullanici/CikisYap">Çıkış</a></li>
                                  
                                </ul>
                            </li>

                        }
                        else
                        {
                            <li>
                                <a href="/Kullanici/login">Giriş Yap</a>
                            </li>
                            <li>
                                <a href="/Kullanici/KayitOl">Kayıt Ol</a>
                            </li>

                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<header class="main-header hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="logo">
                    <figure>
                        <a href="/Home/Index"><img src="@Model.logoPath" alt="Logo" /></a>
                    </figure>
                </div>
            </div>
            <div class="col-sm-8 text-right">

                <a href="#" class="menu-button">Menu <i class="fa fa-bars"></i></a>
            </div>
        </div>
    </div>
</header>

