@model BlogSitesi.Models.SirketBilgileri
@{
    ViewBag.Title = "sirketBilgileri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div id="numaraUyari"></div>

@using(Html.BeginForm("sirketBilgileri","Home",FormMethod.Post,new{enctype="multipart/form-data"}))
{ 

    @Html.AntiForgeryToken()
    @Html.TextBoxFor(m=>m.id,new{@type="hidden"})
    <div class="content mt-3" style="margin: 10px;">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-xs-6 col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <strong>@Model.siteAdi</strong>
                        </div>

                        <div class="card-body card-block">
                            <div class="form-group">
                                <label class=" form-control-label">Şirket İsmi</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-building"></i></div>
                                    <input type="text" name="siteAdi" class="form-control" value="@Model.siteAdi">
                                </div>
                                @Html.ValidationMessageFor(m => m.siteAdi, "", new { @style = "color:red" })
                            </div>
                            <div class="form-group">
                                <label class=" form-control-label"><i class="fa fa-info-circle"></i> Hakkımızda</label>
                                <div class="input-group">

                                    <textarea id="ckEditor" style="overflow: scroll;" type="text" name="hakkimizda" class="form-control" rows="10">@Html.Raw(Model.hakkimizda)</textarea>
                                </div>
                                @Html.ValidationMessageFor(m => m.siteAdi, "", new { @style = "color:red" })
                            </div>
                          
                            <div class="form-group">

                                <input name="id" type="submit" class="btn btn-success" style="float: left" value="Güncelle" />

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6">
                    <div class="card">
                        <div class="card-header">
                            <strong>@Model.siteAdi</strong>
                        </div>

                        <div class="card-body card-block">
                            <div class="form-group">
                                <label class=" form-control-label">Telefon</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-phone"></i></div>

                                    <input type="text" name="telefon" placeholder="Telefon numaranızı giriniz..." required="required" maxlength="11" class="form-control" value="@Model.telefon" />

                                </div>
                                @Html.ValidationMessageFor(m => m.telefon, "", new { @style = "color:red" })
                            </div>
                            <div class="form-group">
                                <label class=" form-control-label">Email</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-envelope"></i></div>

                                    <input type="email" name="email" placeholder="Email adresinizi giriniz..." maxlength="50" required="required"  class="form-control" value="@Model.email" />

                                </div>
                                @Html.ValidationMessageFor(m => m.email, "", new { @style = "color:red" })
                            </div>
                          
                            <div class="form-group">
                                <label class=" form-control-label">Adres</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-map-marker"></i></div>
                                    <input type="text" name="adres" class="form-control " maxlength="250" required="required" value="@Model.adres" placeholder="Adresinizi Giriniz..." />
                                </div>
                                @Html.ValidationMessageFor(m => m.adres, "", new { @style = "color:red" })
                            </div>
                            <div class="form-group">
                                <label class=" form-control-label">Şirket Logo</label>
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-picture-o"></i></div>
                                    <input type="file" name="file" class="form-control ">
                                </div>
                        
                            </div>

                            <div class="form-group">
                                <label class=" form-control-label"><i class="fa fa-youtube"></i> Facebook Link</label>
                                <div class="input-group">

                                    <input type="text" name="facebookUrl" class="form-control" value="@Model.facebookUrl" />
                                </div>
                                @Html.ValidationMessageFor(m => m.facebookUrl, "", new { @style = "color:red" })
                            </div>
                            <div class="form-group">
                                <label class=" form-control-label"><i class="fa fa-instagram"></i> Instagram Link</label>
                                <div class="input-group">

                                    <input type="text" name="pinperestUrl" class="form-control" value="@Model.pinperestUrl" />
                                </div>
                                @Html.ValidationMessageFor(m => m.pinperestUrl, "", new { @style = "color:red" })
                            </div>
                            <div class="form-group">
                                <label class=" form-control-label"><i class="fa fa-twitter"></i> Twitter Link</label>
                                <div class="input-group">

                                    <input type="text" name="twitterUrl" class="form-control" value="@Model.twitterUrl" />
                                </div>
                                @Html.ValidationMessageFor(m => m.twitterUrl, "", new { @style = "color:red" })
                            </div>
                            <div class="form-group">
                                <label class=" form-control-label"><i class="fa fa-google-plus"></i> Google Link</label>
                                <div class="input-group">

                                    <input type="text" name="googleUrl" class="form-control" value="@Model.googleUrl" />
                                </div>
                                @Html.ValidationMessageFor(m => m.googleUrl, "", new { @style = "color:red" })
                            </div>
                           

                        </div>

                    </div>
                </div>
            </div><!--row end-->
        </div><!-- .animated -->
    </div>


}

@section js{
    <!--Numara Kayıt Etme-->
    <script type="text/javascript">
        var mesaj ="";
       function failOk(m) {
           var okFail = '<div class="col-sm-12">';
           okFail += '<div class="alert  alert-danger alert-dismissible fade show" role="alert">';
           okFail += ' <span class="badge badge-pill badge-success">Hata</span>' + mesaj;
           okFail += ' <button type="button" class="close" data-dismiss="alert" aria-label="Close">';
           okFail += '<span aria-hidden="true">&times;</span>';
           okFail += '</button>';
           okFail += '</div>';
           okFail += ' </div>';
           return okFail;
       }
       function ok(m) {
           var ok = '<div class="col-sm-12">';
           ok += '<div class="alert  alert-success alert-dismissible fade show" role="alert">';
           ok += ' <span class="badge badge-pill badge-success">Başarılı</span>' + m;
           ok += ' <button type="button" class="close" data-dismiss="alert" aria-label="Close">';
           ok += '<span aria-hidden="true">&times;</span>';
           ok += '</button>';
           ok += '</div>';
           ok += ' </div>';
           return ok;
       }
        $(".numSave").click(function () {
            var selectedPhone = $("#selectedPhone").val();
            var companyId = $(this).data("id");


            $.ajax({
                url: "/AdminPanel/Company/phoneAdd",
                type: "POST",
                data: {selectedPhone:selectedPhone,companyId:companyId},
                success: function (data) {

                    if (data != "") {
                        var newElement = new Option(data);
                        $("#browsers").append(newElement);
                        $("#selectedPhone").val("");
                        mesaj = "Telefon Numarası Başarıyla Eklendi !";
                        $("#numaraUyari").html(ok(mesaj));
                        setTimeout(function () { $('#numaraUyari').hide('slow'); }, 5000);
                    }
                    else {
                        mesaj = "Telefon Numarası Ekleme Sırasında Bir Hata Meydana Geldi !";
                        $("#numaraUyari").html(failOk(mesaj));

                        setTimeout(function () { $('#numaraUyari').hide('slow'); }, 5000);
                    }
                },
                error: function () {
                    mesaj = "Telefon Numarası Ekleme Sırasında Bir Hata Meydana Geldi !";
                    $("#numaraUyari").html(failOk(mesaj));

                    setTimeout(function () { $('#numaraUyari').hide('slow'); }, 5000);
                }
            });


        });

    </script>
    <!--Numara Silme-->
    <script type="text/javascript">
        $(".numDelete").click(function () {
            var companyId = $(this).data("id");
            var selectedPhone = $("#selectedPhone").val();

            $.ajax({
                url: "/AdminPanel/Company/phoneDelete",
                type: "POST",
                data: { selectedPhone: selectedPhone, companyId: companyId },
                success: function (data) {

                    if (data != null ) {
                        mesaj = "Telefon Numarasın Başarıyla Silindi !";

                        document.location.replace("/AdminPanel/Company/Index");



                        $("#numaraUyari").html(ok(mesaj));
                        setTimeout(function () { $('#numaraUyari').hide('slow'); }, 5000);
                    }
                    else {
                        mesaj = "Telefon Numarası Silme Sırasında Bir Hata Meydana Geldi !";
                        $("#numaraUyari").html(failOk(mesaj));

                        setTimeout(function () { $('#numaraUyari').hide('slow'); }, 5000);
                    }
                },
                error: function (data) {
                    mesaj = "Telefon Numarası Silme Sırasında Bir Hata Meydana Geldi !";
                    $("#numaraUyari").html(failOk(mesaj));
                    setTimeout(function () { $('#numaraUyari').hide('slow'); }, 5000);
                }
            });


        });
    </script>
    <script type="text/javascript">
        var editor = CKEDITOR.instances['ckEditor'];
        if (editor) {
            editor.destroy(true);

        }
        CKEDITOR.replace('ckEditor', { entermode: CKEDITOR.ENTER_BR });

    </script>

}
