@{
    ViewBag.Title = "MakaleDuzenle";

}

@using System.Data.Entity.Core.Common.EntitySql
@using System.Diagnostics
@using System.Web.Razor
@model BlogSitesi.Models.Makale

<h2>Yeni Makale Oluştur</h2>
<div class="tabs-top col-md-11">
    <ul class="nav nav-tabs">
        <li class="active alert-success"><a href="#top-tab1" data-toggle="tab">Metin Makale</a></li>
        <li class="alert-success"><a href="#top-tab2" data-toggle="tab">Resim Galerisi</a></li>

    </ul>
    <div class="tab-content">
        <div class="active" id="top-tab1">
            @using (Html.BeginForm("MakaleDuzenle", "Makale", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                <table>
                    <tr>
                        <td><label>Başlık</label></td>
                        <td><input data-model="@Model.id" id="baslik"class="form-control dataAl" type="text" name="Baslik" value="@Model.Baslik" placeholder="Başlık giriniz." /></td>
                    </tr>
                    <tr>
                        <td><label>Kategori</label></td>
                        <td>
                            <select class="form-control" id="KategoriID" name="KategoriID">
                                @foreach (BlogSitesi.Models.Kategori kat in ViewBag.kategori)
                                {
                                    <option value="@kat.id">@kat.Adi</option>
                                }
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label>Etiketler</label></td>
                        <td><input id="etiketler" class="form-control" type="text" name="etiketler" value="@ViewBag.etiketler" placeholder="Etiket giriniz." /></td>
                    </tr>
                    <tr>
                        <td><label>Resim</label></td>
                        <td class="img">
                            <img src="@ViewBag.kapakResim" />
                        </td>
                    </tr>
                    <tr>
                        <td><label>Yeni Resim</label></td>
                        <td>
                            <input type="file" id="Resim" name="Resim" value="" class="form-control" />
                        </td>
                    </tr>
                    <tr>
                        <td><label>İçerik</label></td>
                        <td><textarea id="ckEditor" class="form-control" rows="20" cols="80" name="icerik" placeholder="Makalenizi Giriniz...">@Html.Raw(Model.icerik)</textarea></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td> <input type="submit" class="btn alert-success form-control updateMakale" id="btnEkle" value="Yayınla" name="btnEkle" /></td>
                    </tr>
                </table>
            
            }
            <div class="col-md-12 container" style="margin-top: 20px;">
                <table style="margin-top: 30px;">
                    @if (Session["errorMessage"] != null)
                    {

                        string message = (string)Session["errorMessage"];
                        
                            if (message.Trim() != "")
                            {
                                <tr class="errorMessages">

                                    <p style="color: coral;font-size: 15px;margin-top: 5px;">* @message</p>
                                </tr>
                                Session["errorMessage"] = null;
                            }

                    }
                </table>
                </div>
            </div>
   
    </div>
</div>


@section js{
    <script type="text/javascript">
        var editor = CKEDITOR.instances['ckEditor'];
        if (editor) {
            editor.destroy(true);

        }
        CKEDITOR.replace('ckEditor', { entermode: CKEDITOR.ENTER_BR });
        //$(".updateMakale").click(function () {
            
        //    var baslik = $("#baslik").val();

        //    var kategoriID = $("#KategoriID").val();
        //    var icerik = $("#ckEditor").val();
        //    var al = $(".dataAl").data("model");

            //var totalFiles = document.getElementById("Resim").files.length;
            //var formData = new FormData();
            //for (var i = 0; i < totalFiles; i++) {
            //    var file = document.getElementById("Resim").files[i];
            //    formData.append("Resim", file);
            //}
        //    var etiket = $("#etiketler").val();

        //    var photo = document.getElementById("Resim");
        //    var file = photo.files[0];
        //    var formData = new FormData();
        //    formData.append("file-0", file);
        //    $.ajax({
        //                url: "/Makale/MakaleDuzenle/" + al,
        //                type: "POST",
        //                data: { KategoriID: kategoriID, icerik: icerik, Baslik: baslik, etiketler: etiket, Resim: formData },
        //                dataType: "json",
        //                encode: true,
        //                cache: false,
        //                contentType: false,
        //                processData: false,
        //                error: function (result) { alert("hata") },
        //                success: function (result) {
        //                    alert(formData);
        //                    console.log(result);
                           
        //                    var tag ="* "+'<tr> <td style="color:#ed9d68";font-size:20px;">' + result.message + '</td></tr>';
                           
        //                    $(".errorMessages").append(tag);

        //                }
        //            });
        //});

        //$(".updateMakale").click(function () {
        //    var al = $(".dataAl").data("model");
        //    $.ajax({
        //        url: "/Makale/MakaleDuzenle/" + al,
        //     type:"POST",
        //        content_type: "application-json",
        //        error: function (result) { alert("hata") },
        //        success: function (result) {

        //            console.log(result);
        //            alert(result.message);
        //            $(".errorMessages").append("<h3>" + result.message + "</h3>");

        //        }
        //    });
        //});
    </script>
}





